@use 'palette';
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.friends-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: palette.$background-color;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    i {
        margin: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    i:hover {
        animation: spin 0.3s
    }
}

.friends-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid palette.$dark-color;

    .friends-modal-header-text {
        text-align: left;
    }

    i {
        margin-top: 22.5px;
        text-align: right;
    }
}

#friend-search-input {
    position: relative;
    height: 45px;
    padding: 15px 8px;
    width: 95%;
    font-size: 15px;
    font-family: palette.$main-font;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    100% {
        transform: rotate(180deg);
    }
}