$background-color: #F4F6FF;
$background-color-darker: #DCDDE0;
$primary-color: #FBD46D;
$secondary-color: #4F8A8B;
$dark-color: #07031A;
$dark-color-lighter: #4d4d4f; 
$dark-color-very-light: #b4b4b8;
$main-font: "EB Garamond", serif;
$error-color: #a30f05;
$success-color: #04cc1b;