@use 'navbar';
@use 'palette';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: palette.$dark-color;
    background-color: palette.$background-color;
    font-family: palette.$main-font;
}