@use 'theprose';
@use 'palette';

.form-background {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: palette.$dark-color;
    border-radius: 100%;
    left: 50%;
    top: 50%;
}

.form-background-loaded {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: palette.$dark-color;
    left: 0;
    top: 0;
}

.main-form {
    display: grid;
    place-items: center;
    position: relative;
    width: 18vw;
    height: 472px;
    padding: 25px;
    border-radius: 10px;
    background-color: transparent;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.form-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-header {
    text-align: center;
    line-height: 1;
}

.form-header-text-1 {
    color: palette.$primary-color;
    font-weight: 600;
    font-size: 40px;
}

.form-header-text-2 {
    color: palette.$background-color;
    font-size: 18px;
    margin-top: 17px;
}

.form-input-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
    width: 50%;
}

.form-input {
    padding: 11px 10px;
    background: transparent;
    border: 1px solid palette.$background-color;
    line-height: 1;
    border-radius: 8px;
    background-color: palette.$background-color;

    input {
        width: 100%;
        background: none;
        font-size: 13.4px;
        color: palette.$dark-color;
        border: none;
        padding: 0;
        margin: 0;
        font-family: palette.$main-font;
    }

    input:focus {
        outline: none;
    }
}

.form-input:focus {
    border: 1px solid palette.$primary-color;
}

.submit-area {
    margin-top: 20px;
}

.form-submit {
    display: block;
    width: 100px;
    color: palette.$primary-color;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    font-family: palette.$main-font;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid palette.$primary-color;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.form-submit:hover {
    transition: all ease-in-out 0.3s;
    background-color: palette.$primary-color;
    color: #161616;
    cursor: pointer;
}

.other-controls {
    margin-top: 30px;

    p {
        cursor: pointer;
        color: palette.$background-color-darker;
    }
}

.page-wipe {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: palette.$background-color;
}