<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>The Prose - Home</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles/homeStyle.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav-bar">
        <div id="prose-title-header">
          <a class="nav-link" href="/homeGuest">
            <h1>THE PROSE</h1>
          </a>
        </div>
        <div id="account-links">
          <a class="nav-link" href="/login">
            <p>
              LOGIN
            </p>
          </a>
          <a class="nav-link" href="/signup">
            <p>
              SIGNUP
            </p>
          </a>
        </div>
    </nav>

  <section id="home">

  </section>

  <script src="/assets/homeGuestBundle.js"></script>
</body>
</html>
