<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>The Prose - Profile</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles/profileStyle.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <script src="/assets/src/profileBundle.js"></script>
</head>
<body>
    <div id="nav-bar">
        <div id="prose-title-header">
          <a id="home-page-link" class="nav-link">
            <h1>THE PROSE</h1>
          </a>
        </div>
        <div id="signup-link">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </div>
    </div>

  <section id="content">

  </section>
</body>
</html>