#nav-bar {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
  background-color: #07031A;
  color: #F4F6FF;
  z-index: 3;
}

#prose-title-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 41px;
  top: 30%;
}
#prose-title-header h1 {
  transform: translateY(-55%);
}

#login-link {
  position: absolute;
  right: 12%;
  top: 35%;
}

#signup-link {
  position: absolute;
  right: 4%;
  top: 35%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F4F6FF;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

#signup-button, #login-button {
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #07031A;
  background-color: #F4F6FF;
  font-family: "EB Garamond", serif;
}

.hidden {
  opacity: 0;
}

#message-handler {
  margin-top: 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#message-handler #message-text {
  font-family: "EB Garamond", serif;
  color: #a30f05;
}

.form-background {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #07031A;
  border-radius: 100%;
  left: 50%;
  top: 50%;
}

.form-background-loaded {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #07031A;
  left: 0;
  top: 0;
}

.main-form {
  display: grid;
  place-items: center;
  position: relative;
  width: 18vw;
  height: 472px;
  padding: 25px;
  border-radius: 10px;
  background-color: transparent;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.form-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-header {
  text-align: center;
  line-height: 1;
}

.form-header-text-1 {
  color: #FBD46D;
  font-weight: 600;
  font-size: 40px;
}

.form-header-text-2 {
  color: #F4F6FF;
  font-size: 18px;
  margin-top: 17px;
}

.form-input-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
  width: 50%;
}

.form-input {
  padding: 11px 10px;
  background: transparent;
  border: 1px solid #F4F6FF;
  line-height: 1;
  border-radius: 8px;
  background-color: #F4F6FF;
}
.form-input input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #07031A;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "EB Garamond", serif;
}
.form-input input:focus {
  outline: none;
}

.form-input:focus {
  border: 1px solid #FBD46D;
}

.submit-area {
  margin-top: 20px;
}

.form-submit {
  display: block;
  width: 100px;
  color: #FBD46D;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #FBD46D;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.form-submit:hover {
  transition: all ease-in-out 0.3s;
  background-color: #FBD46D;
  color: #161616;
  cursor: pointer;
}

.other-controls {
  margin-top: 30px;
}
.other-controls p {
  cursor: pointer;
  color: #DCDDE0;
}

.page-wipe {
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #F4F6FF;
}