@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
#nav-bar {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
  background-color: #07031A;
  color: #F4F6FF;
  z-index: 3;
}

#prose-title-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 41px;
  top: 30%;
}
#prose-title-header h1 {
  transform: translateY(-55%);
}

#login-link {
  position: absolute;
  right: 12%;
  top: 35%;
}

#signup-link {
  position: absolute;
  right: 4%;
  top: 35%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F4F6FF;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

#signup-button, #login-button {
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #07031A;
  background-color: #F4F6FF;
  font-family: "EB Garamond", serif;
}

.hidden {
  opacity: 0;
}

#message-handler {
  margin-top: 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#message-handler #message-text {
  font-family: "EB Garamond", serif;
  color: #a30f05;
}

.form-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1000px;
  background-color: #F4F6FF;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.form-content label {
  font-weight: 600;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 15px;
  min-height: 170px;
}
.form-header .form-details-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.form-header .form-details-1 .form-detail-title {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.form-header .form-details-1 .form-detail-author {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.form-header .form-details-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.form-header .form-details-2 .genre-tag-container {
  height: 40px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  border: 2.5px solid black;
  font-family: "EB Garamond", serif;
  background-color: #F4F6FF;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  height: auto;
}
.form-header .form-details-2 .genre-tag-container .tag {
  padding: 5px;
  border: 1px solid #07031A;
  margin: 3px 5px 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: #DCDDE0;
  cursor: default;
}
.form-header .form-details-2 .genre-tag-container .tag i {
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
.form-header .form-details-2 .genre-tag-container #genre-input {
  flex: 1;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  outline: none;
  border: 0;
  background-color: #F4F6FF;
  padding: 10px;
  height: 37.5px;
}

#title-input {
  font-size: 24px;
}

#author-input {
  font-size: 18px;
}

.form-body {
  width: 100%;
}
.form-body .form-text-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.form-input {
  height: 40px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  border: 2.5px solid black;
  font-family: "EB Garamond", serif;
  background-color: #F4F6FF;
}

.body-area {
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  font-family: "EB Garamond", serif;
  background-color: #F4F6FF;
}

.form-input:hover, .body-area:hover {
  background-color: #DCDDE0;
}

.form-input:focus, .body-area:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px #07031A;
  background-color: #F4F6FF;
}

.form-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.form-footer div {
  width: 125px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
.form-footer div p {
  font-family: "EB Garamond", serif;
}
.form-footer div:hover {
  color: #F4F6FF;
  background-color: #07031A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.form-footer div:active {
  box-shadow: none;
  transform: translateY(0);
}

#profile-header {
  background-color: #DCDDE0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#profile-edit-display {
  position: relative;
  padding: 10px 15px;
  left: 100%;
  transform: translateX(-100%);
  width: 8%;
}

#profile-edit-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #4F8A8B;
  font-family: "EB Garamond", serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  height: 40px;
}
#profile-edit-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 9px;
  color: #F4F6FF;
  font-size: 12px;
  font-weight: 200;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

#profile-edit-button:after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #FBD46D;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

#profile-edit-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

#profile-edit-button:hover span {
  color: #07031A;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
#profile-edit-text {
  margin: 0;
}

#profile-account-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

#profile-username-display {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 75%;
}

#profile-username-text {
  font-weight: 600;
  font-size: 48;
  margin: 0;
}

#profile-bio-display {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 50%;
}

#profile-bio-text {
  margin: 0;
}

#profile-date-display {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin-bottom: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.post-node {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 80%;
  max-width: 80%;
  padding: 15px 0;
  background-color: #F4F6FF;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transitioN: all 0.35s ease;
}
.post-node .post-node-content {
  width: 80%;
  max-width: 80%;
}
.post-node .post-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.post-node .post-header .post-title {
  flex-grow: 3;
  margin: 0 0 5px;
  width: 10.625em;
  transition: all 0.35s ease;
}
.post-node .post-header .post-privacy {
  text-align: right;
  flex-grow: 1;
  margin: 5px 0 0;
  width: 5.3125em;
  transition: all 0.35s ease;
}
.post-node .post-header .private {
  color: #a30f05;
}
.post-node .post-header .public {
  color: #04cc1b;
}
.post-node .post-author-text {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.post-node .post-hover-content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}
.post-node .post-hover-content .post-body-preview {
  max-height: 5em;
  overflow: hidden;
  position: relative;
}
.post-node .post-hover-content .post-body-preview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(244, 246, 255) 90%);
}

.post-node::before, .post-node::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FBD46D;
  height: 4px;
}

.post-node::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.post-node::after {
  width: 100%;
  background-color: #F4F6FF;
  transition: width 0.5s ease;
}

.post-node:hover {
  width: 85%;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}
.post-node:hover .post-hover-content {
  max-height: 10em;
  transform: none;
}

.post-node:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.post-node:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

#post-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin-left: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  height: 720px;
  max-height: 720px;
  overflow-y: auto;
}

#post-area-header {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
#post-area-header #post-area-header-text {
  margin: 0;
}

#post-area-controls {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
#post-area-controls #control-add-post {
  width: 100px;
}

.friends-search-results-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 88%;
  height: 400px;
  max-height: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #DCDDE0;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 26px -18px inset;
  overflow-y: auto;
}

.search-node {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  height: 100px;
  background: #F4F6FF;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search-node-details {
  flex-grow: 3;
  padding: 25px 20px 20px 40px;
  text-align: left;
}
.search-node-details .search-node-username {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.search-node-details .search-node-date {
  opacity: 55%;
  margin: 0;
}

.add-friend-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}
.add-friend-container .add-friend-btn {
  width: 75px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
.add-friend-container .add-friend-btn:hover {
  color: #F4F6FF;
  background-color: #04cc1b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-color: #04cc1b;
}
.add-friend-container .add-friend-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.add-friend-container .add-friend-btn-disabled {
  width: 75px;
  height: 30px;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  background-color: #DCDDE0;
  text-align: center;
}
.add-friend-container .add-friend-btn-text {
  margin-top: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.friends-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F4F6FF;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.friends-modal i {
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.friends-modal i:hover {
  animation: spin 0.3s;
}

.friends-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid #07031A;
}
.friends-modal-header .friends-modal-header-text {
  text-align: left;
}
.friends-modal-header i {
  margin-top: 22.5px;
  text-align: right;
}

#friend-search-input {
  position: relative;
  height: 45px;
  padding: 15px 8px;
  width: 95%;
  font-size: 15px;
  font-family: "EB Garamond", serif;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
.friends-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.friend-node {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 80%;
  max-width: 80%;
  padding: 15px 0;
  background-color: #F4F6FF;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transitioN: all 0.35s ease;
}
.friend-node .friend-node-content {
  width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}
.friend-node .friend-node-content .friend-node-details {
  flex-grow: 4;
}
.friend-node .friend-node-content .friend-node-details .friend-username {
  text-overflow: ellipsis;
}
.friend-node .friend-node-content .remove-friend-container {
  margin-top: 12.5px;
  flex-grow: 0.5;
}
.friend-node .friend-node-content .remove-friend-container div {
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
.friend-node .friend-node-content .remove-friend-container div p {
  margin: 10px 0px 0px 0px;
  font-family: "EB Garamond", serif;
}
.friend-node .friend-node-content .remove-friend-container div:hover {
  color: #F4F6FF;
  background-color: #a30f05;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border-color: #a30f05;
}
.friend-node .friend-node-content .remove-friend-container div:active {
  box-shadow: none;
  transform: translateY(0);
}

.friend-node::before, .friend-node::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4F8A8B;
  height: 4px;
}

.friend-node::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.friend-node::after {
  width: 100%;
  background-color: #F4F6FF;
  transition: width 0.5s ease;
}

.friend-node:hover {
  width: 85%;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.friend-node:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.friend-node:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

#friends-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  margin-right: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  height: 720px;
  max-height: 720px;
  overflow-y: auto;
}

#friends-area-header {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
#friends-area-header #friends-area-header-text {
  margin: 0;
}

#friends-area-controls {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
#friends-area-controls #control-add-friend {
  width: 125px;
}

#profile-body {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#post-area-controls div, #friends-area-controls div {
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
#post-area-controls div p, #friends-area-controls div p {
  margin: 10px 0px 0px 0px;
  font-family: "EB Garamond", serif;
}
#post-area-controls div:hover, #friends-area-controls div:hover {
  color: #F4F6FF;
  background-color: #07031A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#post-area-controls div:active, #friends-area-controls div:active {
  box-shadow: none;
  transform: translateY(0);
}

#profile-editor {
  display: flex;
  flex-direction: column;
}

.profile-form-header {
  margin: 25px 0px 0px 30px;
  display: flex;
  flex-direction: row;
}
.profile-form-header #control-cancel-post {
  margin-top: 7.5px;
}
.profile-form-header #control-cancel-post div {
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
.profile-form-header #control-cancel-post div p {
  margin: 10px 0px 0px 0px;
  font-family: "EB Garamond", serif;
}
.profile-form-header #control-cancel-post div:hover {
  color: #F4F6FF;
  background-color: #07031A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.profile-form-header #control-cancel-post div:active {
  box-shadow: none;
  transform: translateY(0);
}
.profile-form-header #control-cancel-post div {
  width: 75px;
}
.profile-form-header .profile-form-label {
  margin-left: 60px;
}
.profile-form-header .profile-form-label .profile-form-label-text {
  margin: 5px 0px 0px 0px;
  font-size: 36px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-form-content {
  margin-top: 85px;
}

.profile-form-bio {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.profile-form-bio label {
  font-size: 24px;
  font-weight: 400;
}
.profile-form-bio textarea {
  font-family: "EB Garamond", serif;
}

.profile-form-footer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.profile-form-footer div {
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #07031A;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: none;
  background-color: #F4F6FF;
  text-align: center;
}
.profile-form-footer div p {
  margin: 10px 0px 0px 0px;
  font-family: "EB Garamond", serif;
}
.profile-form-footer div:hover {
  color: #F4F6FF;
  background-color: #07031A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.profile-form-footer div:active {
  box-shadow: none;
  transform: translateY(0);
}
.profile-form-footer div {
  width: 150px;
}