@use '../palette';

@mixin prose-button-div {
    div {
        height: 40px;
        cursor: pointer;
        border-radius: 3px;
        border: 1.5px solid palette.$dark-color;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: none;
        background-color: palette.$background-color;
        text-align: center;

        p {
            margin: 10px 0px 0px 0px;
            font-family: palette.$main-font;
        }
    }

    div:hover {
        color: palette.$background-color;
        background-color: palette.$error-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
        border-color: palette.$error-color;
    }

    div:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.friend-node {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 80%;
    max-width: 80%;
    padding: 15px 0;
    background-color: palette.$background-color;
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
    transition: all 0.35s ease;

    .friend-node-content {
        width: 80%;
        max-width: 80%;
        display: flex;
        flex-direction: row;

        .friend-node-details {
            flex-grow: 4;
            .friend-username {
                text-overflow: ellipsis;
            }
        }

        .remove-friend-container {
            @include prose-button-div;
            margin-top: 12.5px;
            flex-grow: 0.5;
        }
    }
}

.friend-node::before, .friend-node::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: palette.$secondary-color;
    height: 4px;
}

.friend-node::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
}

.friend-node::after {
    width: 100%;
    background-color: palette.$background-color;
    transition: width 0.5s ease;
}

.friend-node:hover {
    width: 85%;
    box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.friend-node:hover::before {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    transition-delay: 0;
}

.friend-node:hover::after {
    width: 0;
    opacity: 0;
    transition: width 0 ease;
}

@media only screen and (max-width: 700px) {
    .friend-node {
        width: 100%;
        max-width: 100%;
        
        .friend-node-content {
            flex-direction: column;

            .friend-username {
                margin: 0;
            }

            .remove-friend-container {
                margin-top: 6px;
                flex-grow: 1;

                .remove-friend-btn {
                    height: 30px;

                    p {
                        margin-top: 8px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .friend-node:hover {
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
    }
}

@media only screen and (min-width: 701px) and (max-width: 1400px) {
    .friend-node {
        width: 100%;
        max-width: 100%;

        .friend-node-content {
            flex-direction: row;
            align-items: baseline;

            .friend-username {
                margin: 0;
            }

            .remove-friend-container {
                flex-grow: 1;

                .remove-friend-btn {
                    height: 30px;

                    p {
                        margin-top: 8px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .friend-node:hover {
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
    }
}