@use '../palette';
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

@mixin form-text-input {
    height: 40px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    border: 2.5px solid black;
    font-family: palette.$main-font;
    background-color: palette.$background-color;
}

@mixin hover-effect {
    background-color: palette.$background-color-darker;
}

@mixin box-shadow-effect {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px palette.$dark-color;
    background-color: palette.$background-color;
}

@mixin the-prose-button-div {
    div {
        width: 125px;
        height: 50px;
        cursor: pointer;
        border-radius: 3px;
        border: 1.5px solid palette.$dark-color;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: none;
        background-color: palette.$background-color;
        text-align: center;

        p {
            font-family: palette.$main-font;
        }
    }

    div:hover {
        color: palette.$background-color;
        background-color: palette.$dark-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    div:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

#post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;

    #cancel-post-btn-container {
        @include the-prose-button-div;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;

            p {
                margin: 0;
            }
        }
    }

    #post-header-label {
        margin-left: 40px;

        h1 {
            font-size: 36px;
            margin: 0;
        }
    }
}

.form-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1000px;
    background-color: palette.$background-color;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);

    label {
        font-weight: 600;
    }
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
    min-height: 170px;

    .form-details-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        .form-detail-title {
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 10px;
        }

        .form-detail-author {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 10px;
        }
    }

    .form-details-2 {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;

        .genre-tag-container {
            @include form-text-input;
            display: flex;
            flex-wrap: wrap;
            padding: 0px;
            height: auto;

            .tag {
                padding: 5px;
                border: 1px solid palette.$dark-color;
                margin: 3px 5px 5px;
                display: flex;
                align-items: center;
                border-radius: 3px;
                background: palette.$background-color-darker;
                cursor: default;

                i {
                    cursor: pointer;
                    font-size: 16px;
                    margin-left: 5px;
                }
            }

            #genre-input {
                flex: 1;
                font-family: palette.$main-font;
                font-size: 18px;
                outline: none;
                border: 0;
                background-color: palette.$background-color;
                padding: 10px;
                height: 37.5px;
            }
        }
    }
}

#title-input {
    font-size: 24px;
}

#author-input {
    font-size: 18px;
}

.form-body {
    width: 100%;

    .form-text-area {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
    }
}

.form-input {
    @include form-text-input;
}

.body-area {
    padding: 10px;
    transition: 0.2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    font-family: palette.$main-font;
    background-color: palette.$background-color;
}

.form-input:hover, .body-area:hover {
    @include hover-effect;
}

.form-input:focus, .body-area:focus {
    @include box-shadow-effect;
}

.form-footer {
    @include the-prose-button-div;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

    .form-delete-btn:hover {
        background-color: palette.$error-color;
        border-color: palette.$error-color;
    }

    .form-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #post-header {
        padding: 10px;

        #cancel-post-btn-container {
            div {
                height: 30px;
                width: 100px;
    
                p {
                    font-size: 11px;
                }
            }
        }
    
        #post-header-label {
            margin-left: 20px;
    
            h1 {
                font-size: 24px;
                margin: 0;
            }
        }
    }

    .form-content {
        padding: 10px;
        width: 90%;

        .form-details-1 {
            gap: 10px;
    
            .form-detail-title {
                flex-grow: 1;
                width: 50%;
            }
    
            .form-detail-author {
                flex-grow: 1;
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 1050px) and (min-width: 601px) {
    #post-header {
        padding: 10px;
    
        #cancel-post-btn-container {
            @include the-prose-button-div;
    
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
    
                p {
                    margin: 0;
                }
            }
        }
    
        #post-header-label {
            margin-left: 40px;
    
            h1 {
                font-size: 30px;
                margin: 0;
            }
        }
    }

    .form-content {
        padding: 10px;
        width: 90%;

        .form-details-1 {
            gap: 10px;
    
            .form-detail-title {
                flex-grow: 1;
                width: 50%;
            }
    
            .form-detail-author {
                flex-grow: 1;
                width: 30%;
            }
        }
    }
}
