@use '../palette';

@mixin centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#profile-header {
    background-color: palette.$background-color-darker;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, 
        rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#profile-control-display {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    padding: 10px 15px;
    left: 100%;
    transform: translateX(-100%);
    width: 330px;

    #premium-btn-container {
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        
        div {
            width: 145px;
            height: 40px;
            cursor: pointer;
            border-radius: 3px;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
            box-shadow: none;
            text-align: center;
            border: 1.5px solid transparent;
    
            p {
                font-size: 16px;
                margin: 10px 0px 0px 0px;
                font-family: palette.$main-font;
            }
        }
    
        div:hover {
            transform: translateY(-2px);
        }
    
        div:active {
            box-shadow: none;
            transform: translateY(0);
        }

        #profile-premium-button-active {
            background-color: palette.$primary-color;
        }

        #profile-premium-button-active:hover {
            color: palette.$background-color;
            background-color: palette.$secondary-color;
            border: 1.5px solid palette.$secondary-color;
        }

        #profile-premium-button-inactive {
            background-color: palette.$secondary-color;
            color: palette.$background-color;
        }

        #profile-premium-button-inactive:hover {
            color: palette.$dark-color;
            background-color: palette.$primary-color;
            border: 1.5px solid palette.$primary-color;
        }
    }
}

#profile-edit-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: palette.$secondary-color;
    font-family: palette.$main-font;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: 1.5px solid transparent;
    height: 40px;
    width: 145px;

    span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 18px 9px;
        color: palette.$background-color;
        font-size: 16px;
        font-weight: 200;
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }
}

#profile-edit-button:after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: palette.$primary-color;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

#profile-edit-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

#profile-edit-button:hover span {
    color: palette.$dark-color;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }

#profile-edit-text {
    margin: 0;
}

#profile-account-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#profile-username-display {
    @include centered;
    margin-top: 30px;
    width: 75%;
}

#profile-username-text {
    font-weight: 600;
    font-size: 48;
    margin: 0;
}

#profile-bio-display {
    @include centered;
    margin-top: 20px;
    width: 25%;
    overflow-wrap: break-word;
}

#profile-bio-text {
    margin: 0;
}

#profile-date-display {
    @include centered;
    width: 60%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    #profile-bio-display {
        width: 50%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1400px) {
    #profile-bio-display {
        width: 33%;
    }
}